<main class="container">
    <div class="page-header">
        <h1>Angular2 datetime component
            <small>v1.1.0</small>
        </h1>
    </div>
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Default behaviour (plugins default options)
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <code>&lt;datetime [(ngModel)]="date">&lt;/datetime></code>
            </p>
            <datetime [(ngModel)]="date"></datetime>
            <h5><strong>ngModel:</strong> {{getDate(date) | date: "medium"}}</h5>
        </div>
    </section>
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                With options&nbsp;&nbsp;-&nbsp;
                <a href="http://bootstrap-datepicker.readthedocs.org/en/latest/options.html" target="_blank">
                    (See all datepicker options)
                </a>&nbsp;&nbsp;
                <a href="http://jdewit.github.io/bootstrap-timepicker/" target="_blank">
                    (See all timepicker options)
                </a>
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <code>&lt;datetime [timepicker]="{showMeridian: false, minuteStep: 1}" [datepicker]="{daysOfWeekDisabled: [0,6]}"
                    [(ngModel)]="date2">&lt;/datetime></code>
            </p>
            <datetime [(ngModel)]="date2" [timepicker]="{showMeridian: false, minuteStep: 1}" [datepicker]="{daysOfWeekDisabled: [0,6]}"></datetime>
            <h5><strong>ngModel:</strong> {{getDate(date2) | date: "medium"}}</h5>
        </div>
    </section>
    <section class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Using Font Awesome
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <code>&lt;datetime [(ngModel)]="date" [timepicker]="{icon: 'fa fa-clock-o'}" [datepicker]="{icon: 'fa fa-calendar'}">&lt;/datetime></code>
            </p>
            <datetime [(ngModel)]="date" [timepicker]="{icon: 'fa fa-clock-o'}" [datepicker]="{icon: 'fa fa-calendar'}"></datetime>
            <h5><strong>ngModel:</strong> {{getDate(date) | date: "medium"}}</h5>
        </div>
    </section>
    <div class="row">
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Disable datepicker
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <code>&lt;datetime [datepicker]="false" [(ngModel)]="date3">&lt;/datetime></code>
                    </p>
                    <datetime [datepicker]="false" [(ngModel)]="date3"></datetime>
                    <h5><strong>ngModel:</strong> {{getDate(date3) | date: "medium"}}</h5>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Disable timepicker
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <code>&lt;datetime [timepicker]="false" [(ngModel)]="date3">&lt;/datetime></code>
                    </p>
                    <datetime [timepicker]="false" [(ngModel)]="date3"></datetime>
                    <h5><strong>ngModel:</strong> {{getDate(date3) | date: "medium"}}</h5>
                </div>
            </section>
        </div>
    </div>
</main>